<form method="post" class="p-4 rounded shadow-sm bg-white" id="ai_add_resume_modal" action="/templates/frontend/modals/ai_resume_modal/">

    {% csrf_token %}

    <h3 class="text-center mb-4">Create a Tailored Resume</h3>

    <p class="text-muted text-center mb-4">
        Provide a resume or job description and use AI to create the tailored resume for you
    </p>

    <button type="button" class="btn btn-primary btn-sm w-auto mb-4 d-block mx-auto" onclick="getPage('/templates/frontend/modals/resume_modal', popup);">Let me do it myself</button>

    <div class="mb-4">
        <label for="resumeDescription" class="form-label fw-bold">Resume or Job Description</label>
        <textarea id="resumeDescription" class="form-control" rows="5" placeholder="Describe the resume's purpose or paste a job description here..." name="resume_description"></textarea>
    </div>

    <button type="button" class="btn btn-primary w-100" onclick="submit_ai_add_resume_form();">Submit</button>

</form>
