<form method="post" action="{% url 'project_modal' %}" id="projectForm">

    {% csrf_token %}

    <h3>Add/Edit Project</h3>

    {% if project.id %}
    <input type="text" style="display:none;" name="id" value="{{ project.id }}">
    {% endif %}

    <div class="mb-3">
        <label for="projectTitle" class="form-label">Project Title</label>
        <input type="text" class="form-control" id="projectTitle" name="project_title" value="{{ project.project_title }}" required>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="description">{{ project.description }}</textarea>
    </div>
    <div class="mb-3">
        <label for="technologiesUsed" class="form-label">Technologies Used</label>
        <input type="text" class="form-control" id="technologiesUsed" name="technologies_used" value="{{ project.technologies_used }}">
    </div>
    <div class="mb-3">
        <label for="projectUrl" class="form-label">Project URL</label>
        <input type="url" class="form-control" id="projectUrl" name="project_url" value="{{ project.project_url }}">
    </div>
    <div class="mb-3">
        <label for="startDate" class="form-label">Start Date</label>
        <input type="date" class="form-control" id="startDate" name="start_date" value="{% if project.start_date %}{{ project.start_date|date:'Y-m-d' }}{% endif %}">
    </div>
    <div class="mb-3">
        <span id="end_date_span" {% if project and not project.end_date %}style="display:none;" {% endif %}>
            <label for="endDate" class="form-label">End Date</label>
            <input type="date" class="form-control" id="endDate" name="end_date" value="{% if project.end_date %}{{ project.end_date|date:'Y-m-d' }}{% endif %}">
        </span>

        <input type="checkbox" id="inProgress" onchange="hideIfChecked(this, 'end_date_span', true);" {% if project and not project.end_date %}checked="checked" {% endif %} />
        <label for="inProgress">In Progress</label>
    </div>

    <button type="button" class="btn btn-primary w-100" onclick="submitFormAjax('projectForm', () => { closeCurrentModal(); fetchProjectData(); });">Save</button>

</form>