<form  method="post" action="{% url 'skill_modal' %}" id="skillForm">

    {% csrf_token %}

    <h3>Add/Edit Skill</h3>

    <div class="mb-3">
        <label for="skillName" class="form-label">Skill</label>
        <input type="text" class="form-control" id="skillName" name="skill_name" value="{{ skill.skill_name }}" required>
    </div>
    <div class="mb-3">
        <label for="yearsOfExperience" class="form-label">Years of Experience</label>
        <input type="text" class="form-control" id="yearsOfExperience" name="years_of_experience" value="{{ skill.years_of_experience }}" required>
    </div>

    <button type="button" class="btn btn-primary w-100" onclick="submitFormAjax('skillForm', closeCurrentModal);">Save</button>

</form>