<form method="post" action="{% url 'user_info_modal' %}" id="userInfoForm">

    {% csrf_token %}

    <h3>Edit Your Personal Information</h3>

    <div class="mb-3">
        <label for="firstName" class="form-label">First Name</label>
        <input type="text" class="form-control" id="firstName" name="first_name" value="{{ user.first_name }}" required>
    </div>
    <div class="mb-3">
        <label for="lastName" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="lastName" name="last_name" value="{{ user.last_name }}" required>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" id="email" value="{{ user.email }}" name="email" disabled>
    </div>
    <div class="mb-3">
        <label for="phoneNumber" class="form-label">Phone Number</label>
        <input type="text" class="form-control" id="phoneNumber" value="{{ user.user_info.phone_number }}" name="phone_number">
    </div>
    <div class="mb-3">
        <label for="address" class="form-label">Address</label>
        <textarea class="form-control" id="address" name="address">{{ user.user_info.address }}</textarea>
    </div>
    <div class="mb-3">
        <label for="summary" class="form-label">Additional Information</label>
        <textarea class="form-control" id="summary" name="summary" placeholder="Put anything else you want the AI to know here...">{{ user.user_info.summary }}</textarea>
    </div>

    <button type="button" class="btn btn-primary w-100" onclick="submitFormAjax('userInfoForm', () => { closeCurrentModal(); fetchUserInfo(); });">Save</button>

</form>
